In [14]:
x = 5.12
f"The output value is -> {x: .0f}"

'The output value is ->  5'

Home work  # 1

In [20]:
first_str = 'Hello, World!'
print(f"text containts: {first_str}")

text containts: Hello, World!

In [22]:
first_str = "Hello Madi, I hope you're doing well"
print(first_str)

Hello Madi, I hope you're doing well

In [36]:
name = 'Madi'
surname = 'Tegisbek'
full_name = name + ' ' + surname
capitalized1 = name.capitalize()
capitalized2 = surname.capitalize()
lower = full_name.lower()
upper = full_name.upper()
print(capitalized1)
print(capitalized2)
print(lower)
print(upper)

Madi
Tegisbek
madi tegisbek
MADI TEGISBEK

In [76]:
print("K \n a \n  i \n   r \n    a \n     t")

K
 a
  i
   r
    a
     t

In [80]:
my_fav_num = 9
print(f"My favourite number is -> {my_fav_num}")

My favourite number is -> 9

In [86]:
import math 
print(4+4)
print(10-2)
print(4*2)
print(int(10/1.25))

8
8
8
8