# Assignment 2
Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1B8XjyPA23Zg5-zLL02pAVU-avQeMQYJP/view?usp=sharing). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [5]:
import pandas as pd

In [9]:
PATH = 'athlete_events.csv'

In [25]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the oldest male and female participants of the 2012 Olympics?__

In [365]:
data_2012 = data[data['Year']== 2012]
oldest_m = data_2012[data_2012['Sex']=='M']['Age'].max()
oldest_f = data_2012[data_2012['Sex']=='F']['Age'].max()

print("Oldest male's age is -> ",oldest_m)
print("Oldest female's age is -> ",oldest_f)

Oldest male's age is ->  71.0
Oldest female's age is ->  57.0

__2. What are the mean and standard deviation of height for male basketball players who participated in the 1992 Olympics? Round the answer to the first decimal.__

In [367]:
basketboll_1992 = data[(data['Year']==1992) & (data['Sport']=='Basketball') & (data['Sex']=='M')]

height_mean = basketboll_1992['Height'].mean()
height_std = basketboll_1992['Height'].std()

print('Mean is -> ',round(height_mean,1))
print('Standard deviation is -> ',round(height_std,1))

Mean is ->  199.5
Standard deviation is ->  9.5

__3. How many times did Christine Jacoba Aaftink participate in the Olympics held in different years?__

In [31]:
task3 = data[data['Name']=='Christine Jacoba Aaftink']

count_of_part = task3['Year'].nunique()

count_of_part

3

__4. Is it true that China won fewer medals than Russia at the 2012 Olympics? Do not consider NaN values in Medal column.__

In [373]:
China = data[(data['Year']==2012) & (data['Team']=='China') & (pd.notna(data['Medal']))]
Russia = data[(data['Year']==2012) & (data['Team']=='Russia') & (pd.notna(data['Medal']))]


china_medals = len(China)
russia_medals = len(Russia)

if china_medals > russia_medals:
    print('True','China medals -> ',china_medals)
else:
    print('Its false', 'Russia has ->',russia_medals,' medals')

Its false Russia has -> 138  medals

__5. What is the absolute difference between the number of unique sports at the 1984 Olympics and 2016 Olympics?__

In [301]:
task5 = data[data['Year'] == 2016]['Sport'].unique()
task6 = data[data['Year'] == 1984]['Sport'].unique()

n_2016 = len(task5) 
n_1984 = len(task6)

print(abs(n_2016 - n_1984))

1

__6. Calculate the basic statistics (mean, median, min, max, standard deviation) for the Age, Height, and Weight columns.
Identify any outliers in the Weight column.__

In [317]:
statistics = data[['Age', 'Height', 'Weight']].describe()
statistics

                 Age         Height         Weight
count  261642.000000  210945.000000  208241.000000
mean       25.556898     175.338970      70.702393
std         6.393561      10.518462      14.348020
min        10.000000     127.000000      25.000000
25%        21.000000     168.000000      60.000000
50%        24.000000     175.000000      70.000000
75%        28.000000     183.000000      79.000000
max        97.000000     226.000000     214.000000

In [313]:
Quantile1 = data['Weight'].quantile(0.25)
Quantile2 = data['Weight'].quantile(0.75)
IQR = Quantile2 - Quantile1

outliers = data[(data['Weight'] < (Quantile1 - 1.5 * IQR)) | (data['Weight'] > (Quantile2 + 1.5 * IQR))]
outliers_weight = outliers['Weight']

outliers_weight

57        130.0
80        125.0
384       120.0
507       117.5
508       117.5
          ...
270644    161.0
270740    115.0
270741    115.0
270742    115.0
270801    134.0
Name: Weight, Length: 3237, dtype: float64

__7. Find the amount of all medals won by Kazakhstan__

In [29]:
Kz = data[(data['Team']=='Kazakhstan') & (pd.notna(data['Medal']))]
Kz_medal_amount = len(Kz)
kz_gold_count = len(Kz[Kz['Medal'] =='Gold'])
kz_silver_count = len(Kz[Kz['Medal'] =='Silver'])
kz_bronze_count = len(Kz[Kz['Medal'] =='Bronze'])



print('Kazakhstan ðŸ‡°ðŸ‡¿ medals count is -> ðŸ¥‡ðŸ¥ˆðŸ¥‰',Kz_medal_amount,'\n')
print('Kazakhstan ðŸ‡°ðŸ‡¿ medals count is -> ðŸ¥‡',kz_gold_count)
print('Kazakhstan ðŸ‡°ðŸ‡¿ medals count is -> ðŸ¥ˆ',kz_silver_count)
print('Kazakhstan ðŸ‡°ðŸ‡¿ medals count is -> ðŸ¥‰',kz_bronze_count)

Kazakhstan ðŸ‡°ðŸ‡¿ medals count is -> ðŸ¥‡ðŸ¥ˆðŸ¥‰ 77

Kazakhstan ðŸ‡°ðŸ‡¿ medals count is -> ðŸ¥‡ 20
Kazakhstan ðŸ‡°ðŸ‡¿ medals count is -> ðŸ¥ˆ 25
Kazakhstan ðŸ‡°ðŸ‡¿ medals count is -> ðŸ¥‰ 32

__8. Identify Kazakhstan's most successful Olympic Games__

In [357]:
kz_most = data[(data['Team']=='Kazakhstan') & (pd.notna(data['Medal']))]
medal_counts = kz_most.groupby('Year').size()
max_year = medal_counts.idxmax()

max_year

res = data[(data['Year']==max_year) & (pd.notna(data['Medal']) & (data['NOC']=='KAZ'))]
res = res.groupby('Year')['Medal'].value_counts().unstack(fill_value=0)
res

Medal  Bronze  Gold  Silver
Year
2016       10     3       5

__9. How many times did Michael Fred Phelps win different medals in the Olympics held in different years?__

In [21]:
max_medalist = data[pd.notna(data['Medal'])]

sportsmen = max_medalist.groupby('Name').size().idxmax()

res = max_medalist[max_medalist['Name'] == sportsmen]
res = res.groupby('Year')['Medal'].value_counts().unstack(fill_value=0)
res

Medal  Bronze  Gold  Silver
Year
2004        2     6       0
2008        0     8       0
2012        0     4       2
2016        0     5       1