In [6]:
import pandas as pd

## Задание 1 - Работа с файлами Data Frame

- Определите, в каких столбцах есть пропущенные значения. Удалите все строки, в которых пропущено значение в столбце 'Бюджет (млн $)'.

- Заполните все пропущенные значения в столбце 'Режиссер' строкой 'Неизвестен'.

- Заполните все пропущенные значения в столбце 'Рейтинг' средним значением этого столбца.

- Если в строке пропущены значения и в 'Бюджет (млн $)', и в 'Сборы (млн $)', удалите эту строку. В противном случае, если пропущено значение только в одном из этих столбцов, оставьте строку.

In [10]:
path = 'ДЗ_Pandas.csv'

df = pd.read_csv(path)
df.head()

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.8,120.0,500,NaN,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.2,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.5,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.6,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
4,5,Загадка джунглей,2023,Приключения,7.0,NaN,350,Петр Ильин,"Антон Зайцев, Марина Краснова"

In [13]:
# Рейтинг и Режисер и Бюджет в этих столбцах есть по 2 пропущенных значений

df.isnull().sum()

ID                 0
Название фильма    0
Год выпуска        0
Жанр               0
Рейтинг            2
Бюджет (млн $)     2
Сборы (млн $)      0
Режиссер           2
Основные актеры    0
dtype: int64

In [25]:
df.dropna(subset=['Бюджет (млн $)'], inplace=True)
df.isnull().sum()

ID                 0
Название фильма    0
Год выпуска        0
Жанр               0
Рейтинг            2
Бюджет (млн $)     0
Сборы (млн $)      0
Режиссер           2
Основные актеры    0
dtype: int64

In [37]:
df.fillna({'Режиссер':'Неизвестен'},inplace=True)
df.isnull().sum()

ID                 0
Название фильма    0
Год выпуска        0
Жанр               0
Рейтинг            2
Бюджет (млн $)     0
Сборы (млн $)      0
Режиссер           0
Основные актеры    0
dtype: int64

In [41]:
df.fillna({'Рейтинг':df['Рейтинг'].mean()},inplace=True)
df.isnull().sum()

ID                 0
Название фильма    0
Год выпуска        0
Жанр               0
Рейтинг            0
Бюджет (млн $)     0
Сборы (млн $)      0
Режиссер           0
Основные актеры    0
dtype: int64

In [46]:
df.dropna(subset=['Бюджет (млн $)','Сборы (млн $)'],how='all')
df.isnull().sum()

ID                 0
Название фильма    0
Год выпуска        0
Жанр               0
Рейтинг            0
Бюджет (млн $)     0
Сборы (млн $)      0
Режиссер           0
Основные актеры    0
dtype: int64

## Задание 2 - Grouby

Группировка по Жанру:

- Сгруппируйте фильмы по жанру

- Рассчитайте средний рейтинг и средний бюджет в каждом жанре.

Группировка по Году Выпуска:

- Сгруппируйте фильмы по году выпуска

- Определите общее количество фильмов и суммарные сборы в прокате по каждому году.

Комбинированная Группировка:

- Сгруппируйте фильмы по жанру и году выпуска

- Рассчитайте средний рейтинг для каждой комбинации жанра и года выпуска

In [68]:
data = df.groupby('Жанр')[['Рейтинг','Бюджет (млн $)']].mean()
data

                    Рейтинг  Бюджет (млн $)
Жанр
Боевик                 7.75            90.0
Драма                  8.50            60.0
Мистика                7.10            65.0
Научная фантастика     7.85           130.0
Приключения            8.20            90.0
Триллер                7.85            40.0
Фантастика             7.80           120.0

In [96]:
data2 = df.groupby('Год выпуска')['Сборы (млн $)'].agg(['count','sum'])
data2 = data2.rename(columns={'count':'Число Выпушенных Фильмов',
                              'sum': 'Сумма Сборов(млн $)'})
data2

             Число Выпушенных Фильмов  Сумма Сборов(млн $)
Год выпуска
2018                                1                  200
2019                                1                  550
2020                                1                  450
2021                                2                  780
2022                                2                  810
2023                                1                  650

In [104]:
df2 = df.groupby(['Жанр','Год выпуска'])['Рейтинг'].mean().reset_index(name='Средний Рейтинг')
df2.sort_values('Год выпуска')

                 Жанр  Год выпуска  Средний Рейтинг
6             Триллер         2018             7.85
0              Боевик         2019             7.60
5         Приключения         2020             8.20
1              Боевик         2021             7.90
2               Драма         2021             8.50
3             Мистика         2022             7.10
7          Фантастика         2022             7.80
4  Научная фантастика         2023             7.85

## Задание 3 - reset index

Группировка и Сортировка:

- Сгруппируйте фильмы по жанру и рассчитайте средний рейтинг для каждого жанра

- Сбросьте индекс и отсортируйте результаты по среднему рейтингу в убывающем порядке

Анализ частоты:

- Используйте value_counts для определения, сколько фильмов было выпущено в каждом году

- Отсортируйте результаты по годам в порядке возрастания

Комбинированный Анализ:

- Сгруппируйте фильмы по режиссеру и жанру, затем рассчитайте общие сборы фильмов для каждой комбинации

- Сбросьте индекс и отсортируйте результаты по сумме сборов в убывающем порядке

In [111]:
df3 = df.groupby('Жанр')['Рейтинг'].mean().reset_index().sort_values('Рейтинг', ascending=False)
df3

                 Жанр  Рейтинг
1               Драма     8.50
4         Приключения     8.20
3  Научная фантастика     7.85
5             Триллер     7.85
6          Фантастика     7.80
0              Боевик     7.75
2             Мистика     7.10

In [128]:
df['Год выпуска'].value_counts().sort_index()

Год выпуска
2018    1
2019    1
2020    1
2021    2
2022    2
2023    1
Name: count, dtype: int64

In [138]:
df.groupby(['Режиссер', 'Жанр'])['Сборы (млн $)'].sum().reset_index()

Режиссер        Жанр
Алексей Попов   Драма                 300
Дмитрий Иванов  Мистика               310
Кирилл Соколов  Боевик                550
Мария Смирнова  Приключения           450
Неизвестен      Научная фантастика    650
                Фантастика            500
Ольга Петрова   Триллер               200
Роман Васильев  Боевик                480
Name: Сборы (млн $), dtype: int64